In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.conf import SparkConf

conf = SparkConf()
conf.setMaster("local").setAppName("flask_app")
sc = SparkContext.getOrCreate(conf=conf)

from pyspark import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import StringType, ArrayType

sqlContext = SQLContext(sc)
spark = SparkSession.builder.getOrCreate()

D:\Anaconda\lib\site-packages\pyspark\sql\context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [9]:
spark = SparkSession.builder.getOrCreate()

In [32]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine(
    "postgresql+psycopg2://root:root@localhost/test_db?client_encoding=utf8")
pd_actor = pd.read_sql('select * from public.actor', engine)
pd_address = pd.read_sql('select * from public.address', engine)
pd_category = pd.read_sql('select * from public.category', engine)
pd_city = pd.read_sql('select * from public.city', engine)
pd_country = pd.read_sql('select * from public.country', engine)
pd_custormer = pd.read_sql('select * from public.customer', engine)
pd_film = pd.read_sql('select * from public.film', engine)
pd_film_actor = pd.read_sql('select * from public.film_actor', engine)
pd_film_category = pd.read_sql('select * from public.film_category', engine)
pd_invenotory = pd.read_sql('select * from public.inventory', engine)
pd_language = pd.read_sql('select * from public.language', engine)
pd_payment = pd.read_sql('select * from public.payment', engine)
pd_rental = pd.read_sql('select * from public.rental', engine)
pd_staff = pd.read_sql('select * from public.staff', engine)
pd_store = pd.read_sql('select * from public.store', engine)

In [43]:
pd_staff.drop(columns=['picture'])

,staff_id,first_name,last_name,address_id,email,store_id,active,username,password,last_update
0,1,Mike,Hillyer,3,Mike.Hillyer@sakilastaff.com,1,True,Mike,8cb2237d0679ca88db6464eac60da96345513964,2020-05-16 15:13:11.793280+00:00
1,2,Jon,Stephens,4,Jon.Stephens@sakilastaff.com,2,True,Jon,8cb2237d0679ca88db6464eac60da96345513964,2020-05-16 15:13:11.793280+00:00

In [44]:
from pyspark.sql.types import *

df_actor = spark.createDataFrame(pd_actor)
df_address = spark.createDataFrame(pd_address)
df_category = spark.createDataFrame(pd_category)
df_city = spark.createDataFrame(pd_city)
df_country = spark.createDataFrame(pd_country)
df_customer = spark.createDataFrame(pd_custormer)

film_schemas = StructType([
    StructField('film_id', IntegerType(), True),
    StructField('title', StringType(), True),
    StructField('description', StringType(), True),
    StructField('release_year', IntegerType(), True),
    StructField('language_id', IntegerType(), True),
    StructField('original_language_id', IntegerType(), True),
    StructField('rental_duration', IntegerType(), True),
    StructField('rental_rate', DoubleType(), True),
    StructField('length', IntegerType(), True),
    StructField('replacement_cost', DoubleType(), True),
    StructField('rating', StringType(), True),
    StructField('last_update', TimestampType(), True),
    StructField('special_features', StringType(), True),
    StructField('fulltext', StringType(), True),
])

df_film = spark.createDataFrame(pd_film, schema=film_schemas)
df_film_actor = spark.createDataFrame(pd_film_actor)
df_film_category = spark.createDataFrame(pd_film_category)
df_invenotry = spark.createDataFrame(pd_invenotory)
df_language = spark.createDataFrame(pd_language)
df_payment = spark.createDataFrame(pd_payment)
df_rental = spark.createDataFrame(pd_rental)

staff_schemas = StructType([
    StructField('staff_id', IntegerType(), True),
    StructField('first_name', StringType(), True),
    StructField('last_name', StringType(), True),
    StructField('address_id', IntegerType(), True),
    StructField('email', StringType(), True),
    StructField('store_id', IntegerType(), True),
    StructField('active', IntegerType(), True),
    StructField('username', StringType(), True),
    StructField('password', StringType(), True),
    StructField('last_update', TimestampType(), True),
])

df_staff = spark.createDataFrame(pd_staff.drop(columns=['picture']))
df_store = spark.createDataFrame(pd_store)

In [45]:
df_store.show()

+--------+----------------+----------+-------------------+
|store_id|manager_staff_id|address_id|        last_update|
+--------+----------------+----------+-------------------+
|       1|               1|         1|2020-02-15 12:57:12|
|       2|               2|         2|2020-02-15 12:57:12|
+--------+----------------+----------+-------------------+